<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask-SocketIO Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
</head>
<body>
    <!-- <p id="value"></p> -->
    <input id="slider1" type="range" min="0" max="180">
    <input id="slider2" type="range" min="0" max="180">
    <div id="log"></div>
</body>
<script>
    $(document).ready(function(){
        //connect to the socket server.
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/');
        // var numbers_received = [];

        // receive messages from server
        socket.on('message', function(msg) {
        console.log('Received message: ' + msg);
            $('#log').html(msg);
            document.getElementById("slider1").value = msg;
        });

        var sliders = document.getElementsByTagName("input");	
        
        // send messages from server
        for (var i = 0; i < sliders.length; i++) {
		    sliders[i].oninput = function () {
                console.log(this.id + ": " + this.value);
			    socket.emit('message', this.value);
                // socket.emit('json', {'data': this.value})
            }
        }

    });
</script>

</html>